body{
    background-image: url("mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    margin-top:80px;
}
header{
    background-color: black;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:50px;
    display:flex;
    align-items:center;
    box-shadow:0 0 25px 0 white;
    display:inline;
}
.myname{
    color:white;
    font-size: 35px;
    list-style: none;
}
.list1{
    font-size: large;
    font-family:impact;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
}
a{
    color: white;
}
header li {
    margin:20px;
}
header li a{
    color:white;
    text-decoration: none;
}
.about-me{
    color:white;
    display:flex;
    justify-content:left;
    text-decoration: underline;
}
.container {
    padding: 20px 40px 40px;
    max-width: 640px;
    display: flex;
}
.family-photo{
    margin: 20 px 30px 0 0;
    width:200px;
    object-fit: contain;
    align-self: flex-start;
}
.mybio{
    line-height: 2;
    color:white
}
img{
    height: 250px;
    width:auto;
    border:5px solid gray;
}
.projects{
    color:white;
    font-size: xx-large;
    text-decoration: underline;
}
.container2, .container3{
    position:relative;
    margin-left:150px;
    margin-right:150px;
}
.text-over, .text-over2{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
}
h3{
    color: white;
    display:flex;
    justify-content: center;
}
.list2{
    color:white;
    display:flex;
    justify-content: space-evenly;
    text-decoration: none;
    
}
footer{
    text-align: center;
}

@media screen and (max-width:600px){
    .family-photo{
        display:none;
    }
    .nav a{
        float:none;
        width:100%;
    }
    }
}